

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}